/*
    main.css
 */

/*
    common
 */

.app {
  color: white;
}
.rank {
  min-width: 72px;
}
.item {
  border-radius: 3px;
}
.rank,
.content,
.problems li {
  float: left;
}
.solved,
.penalty {
  float: right;
}
.rank,
.solved,
.penalty {
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 83px;
}

.ac {
  background-color: #198754;
}
.failed,
.WA {
  background-color: #dc3545;
}
.frozen {
  background-color: #0d6efd;
}
.untouched {
  background-color: #212529;
  color: transparent;
}

.selected {
  background-color: #6c757d;
}

.uncover {
  animation: flashing 300ms infinite;
  -webkit-animation: flashing 30ms infinite; /*Safari and Chrome*/
}

@keyframes flashing {
  from {
    background-color: #0d6efd;
  }
  to {
    background-color: #ffc107;
  }
}

@-webkit-keyframes flashing {
  /*Safari and Chrome*/
  from {
    background-color: #8a6d3b;
  }
  to {
    background-color: #bd995b;
  }
}

/*
    index
 */

.name {
  font-size: 35px;
  margin-bottom: 5px;
}
.problems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.problems .item {
  padding: 2px;
  margin-right: 5px;
  width: 80px;
  text-align: center;
}
.problems .item .p-content {
  padding: 1px 0;
  font-size: 15px;
}
.solved {
  width: 70px;
}
.penalty {
  width: 100px;
}

.rank-list-item {
  position: relative;
}
